In [148]:
import pandas as pd
from constants import *
import string

# Importing Data

In [149]:
data = pd.read_csv('data/fav_players.csv')
data.head()
data.describe

<bound method NDFrame.describe of    firstName  lastName        pos1     pos2  price  average  last3Avg  \
0        Max      Gawn        Ruck      NaN  $944k      123       117
1       Zach   Merrett  Midfielder      NaN  $884k      115       116
2       Jake     Lloyd    Defender      NaN  $873k      114       113
3     Brodie    Grundy        Ruck      NaN  $867k      113       107
4       Matt    Crouch  Midfielder      NaN  $844k      110       122
..       ...       ...         ...      ...    ...      ...       ...
70     Heath   Chapman    Defender      NaN  $244k        0         0
71   Lachlan     Jones    Defender      NaN  $240k        0         0
72     James    Madden    Defender  Forward  $170k        0         0
73     Isaac     Chugg    Defender  Forward  $170k        0         0
74     Nakia  Cockatoo  Midfielder  Forward  $243k        0         0

    projected  include
0         106        1
1         111        1
2         104        1
3         109        1
4         110        1
..        ...      ...
70         43        1
71         43        1
72         38        1
73         38        1
74         51        1

[75 rows x 9 columns]>

# Formatting data

In [150]:
# fill NaN
data['pos2'] = data['pos2'].fillna('')
data.head()

# convert price to int
data['price'] = data['price'].str.strip('$k').astype('int')
data['price']

# only use players with include = 1
data = data[data['include'] == 1]
data.describe

# add column for price category
data = data.assign(category=lambda x: x.price // 200)
data.describe

<bound method NDFrame.describe of    firstName  lastName        pos1     pos2  price  average  last3Avg  \
0        Max      Gawn        Ruck             944      123       117
1       Zach   Merrett  Midfielder             884      115       116
2       Jake     Lloyd    Defender             873      114       113
3     Brodie    Grundy        Ruck             867      113       107
4       Matt    Crouch  Midfielder             844      110       122
..       ...       ...         ...      ...    ...      ...       ...
70     Heath   Chapman    Defender             244        0         0
71   Lachlan     Jones    Defender             240        0         0
72     James    Madden    Defender  Forward    170        0         0
73     Isaac     Chugg    Defender  Forward    170        0         0
74     Nakia  Cockatoo  Midfielder  Forward    243        0         0

    projected  include  category
0         106        1         4
1         111        1         4
2         104        1         4
3         109        1         4
4         110        1         4
..        ...      ...       ...
70         43        1         1
71         43        1         1
72         38        1         0
73         38        1         0
74         51        1         1

[75 rows x 10 columns]>

In [151]:
# separate into postions
defenders = pd.concat([data[data['pos1'] == 'Defender'], data[data['pos2'] == 'Defender']])

forwards = pd.concat([data[data['pos1'] == 'Forward'], data[data['pos2'] == 'Forward']])

midfielders = pd.concat([data[data['pos1'] == 'Midfielder'], data[data['pos2'] == 'Midfielder']])

rucks = pd.concat([data[data['pos1'] == 'Ruck'], data[data['pos2'] == 'Ruck']])

,firstName,lastName,pos1,pos2,price,average,last3Avg,projected,include,category
0,Max,Gawn,Ruck,,944,123,117,106,1,4
3,Brodie,Grundy,Ruck,,867,113,107,109,1,4
5,Reilly,O'Brien,Ruck,,828,108,121,106,1,4
30,Jarrod,Witts,Ruck,,615,80,65,73,1,3
32,Peter,Ladhams,Ruck,Forward,560,78,52,58,1,2
64,Matt,Flynn,Ruck,,170,0,0,42,1,0
68,Josh,Treacy,Ruck,Forward,170,0,0,40,1,0
69,Lloyd,Meek,Ruck,,170,0,0,42,1,0

# Find all combinations for each position

## Rucks